* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 400;
}


body {
    background: #020024;
    background: linear-gradient(154deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
    height: 100vh;
}

.my-card {
    margin: 160px auto;
    min-width: 50vw;
}

.my-header {
    text-align: center;
}

.hidden {
    display: none !important; 
}

.visiblePass { 
    transition: .3s;
    display: block;
}

.eye {
    background: transparent;
    height: 20px;
    cursor: pointer;
}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 140px;
}

.passwordInput {
    margin-top: 10px;
}

.accepted {
    background-color: lightgreen !important;
}

.rejected {
    background-color: #FF8080 !important;
}


@media only screen and (max-width: 1182px) {
    .my-rules p {
        font-size: 24px !important;
    }


    .my-rules li {
        font-size: 18px !important;
    }
}